* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #39196d;
}

.header-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  color: #59fbb2;
}

.header-todo .wrapper-titulo {
  width: 280px;
  padding: 8px;
}

.header-todo .wrapper-titulo h1 {
  text-align: center;
}

.header-todo .wrapper-titulo span {
  display: block;
  text-align: right;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

form input {
  height: 48px;
  width: 280px;
  border: none;
  background-color: #eae6d8;
  padding: 6px;
  border-radius: 12px;
  color: #000;
}

.send-button {
  border: solid 4px #59fbb2;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  background-color: #39196d;
  cursor: pointer;
  transition: all 0.5s;
}

.send-button:hover {
  scale: 1.05;
}

.fa-arrow-right {
  font-size: 24px;
  color: #59fbb2;
}

.tarefa {
  margin: 24px auto;
  width: 350px;
  min-height: 64px;
  position: relative;
  background-color: #eae6d8;
  padding: 8px;
  border-radius: 12px;
  align-items: center;
}

.btn-delete {
  border: solid 2px red;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  background-color: #eae6d8;
  color: red;
  position: absolute;
  right: 5px;
  cursor: pointer;
}
